@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&family=ZCOOL+QingKe+HuangYou&display=swap');

body{
    background-color: rgb(16, 10, 49);
    color: rgb(255, 255, 255);
}

.app{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    display: block;
    height: auto;
    width: 100%;
}

.socials{
    width: 3em;
    height: 3em;
}

.navbar,
.footer,
.contenido{
    display: flex;
}

.contenido{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-weight: bolder;
    font-size:x-large;
    letter-spacing: 2px;
    /*
    background-image: url(../images/stars.png);
    background-size: cover;
    background-position: center;
    */
}

.random-lizzard{
    max-width: 20em;
    position: absolute;
    top: 20%;
}

.soon {
    top: -4em;
    transition: all 1s ease-in-out;
    position: relative;
    color: gray;
}

#star-id{
    width: 50em;
    //top: -2em;
    z-index: -1;
    position: relative;
    transition: all 1s ease-in-out;
    opacity: 0.01;
}   

.random-lizzard:hover ~ .soon {
    //animation: giro 15s linear infinite;
    transform: scale(150%);
    color: greenyellow;
    //opacity: 0.1;
}

#lizzard-id:hover + #star-id {
    //animation: giro 15s linear infinite;
    transform: scale(110%);
    //color: greenyellow;
    opacity: 1;
}

/*
@keyframes por-defecto{
    100%{
        transform: rotate(0deg) scale(100%);
    }
}
*/

/*
@keyframes giro{
    0%{
        transform: rotate(0deg) scale(100%);
        //opacity: 1;
    }
    50%{
        transform: rotate(-180deg) scale(150%);
        //opacity: 0.2;
    }
    100%{
        transform: rotate(-360deg) scale(100%);
        //opacity: 1;
    }
}
*/

.navbar{
    align-items: flex-start;
    padding: 3em;
}

.footer{
    padding: 1em;
    gap: 1em;
    justify-content: flex-end;
}

img{
    height: auto;
    width: 100%;
    display: block;
}

.logo{
    width: 15em;
}